__pycache__/
*.jsonl
.venv/
venv/
tmp/*
*.output
/*.json
fixing_vcc.1698051913
scg-data/
*.zip
*.csv
*.parquet
codellama-fintune-v1/
adapter/
*.ipynb
.env
data/
*.out
*.db
*.json
retrieval/docker/volumes/
raw_gen/